<body>
    <h1>Tweet Me My Bus</h1>
    <p>
    	Welcome to tweet me my bus. Tweet me my Bus is a web service that uses twitter
    	to update users of Wexford bus about the arrival times of their buses.
    	
    </p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>