<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><a href="http://wexfordbus.com/">Wexford Bus</a></li>
      <comment might want to add the twitter follow button></comment>
      <li><a href="https://twitter.com/#!/">Follow Us</a></li>
    </ul>
  </nav>
</footer>
